<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">URL Shortened!</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <h4><b>URL Shortened:</b> {{url.shorten}}</h4>
        <h4><b>Short URL:</b> {{url.url}}/{{url.custom_ending}}</h4>
        <button class="button button-block button-positive" ng-click="closeModal()">Close</button>
    </ion-content>
</ion-modal-view>